{% extends "base.html.twig" %}
{% block title %}Admin Controls{% endblock %}

{% block js_libraries %}
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/form_scripts.js"></script>
{% endblock %}

{% block body %}
    If you can see this you are an admin! :) <br>
    <a href="{{ path("homepage") }}">Back to Home</a> 

    <div id="messages"></div>

    <div>
        <form method="post" id="siteForm">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Give an Admin Role?</th>
                </tr>
                {% for user in users %}
                    <tr id="row-{{ user.id }}">
                        <td>{{ user.username }}</td>
                        <td>
                            <input type="checkbox" name="user[]" value="{{ user.id }}">
                        </td>
                    </tr>
                {% endfor %}
            <table>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
<script>

    $('#siteForm').submit(function(e){
        submitRequest(e, '{{ path("add_user_admin") }}');
    });

</script>
{% endblock %}